<div class="well container" id="CreateUserDiv">
    <form class="form-horizontal" ng-submit="CreateUser()">
        <fieldset>
            <legend>Crear Usuario</legend>
            <div class="form-group row">
                <label for="inputName" class="col-xs-2 col-form-label">Nombre</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="inputName" name="Name" placeholder="Nombre" required ng-model="ctrl.NewUserName">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail" class="col-xs-2 col-form-label">Email</label>
                <div class="col-xs-10">
                    <input type="email" class="form-control" id="inputEmail" name="Email" placeholder="Email" required ng-model="ctrl.NewUserEmail">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputConfirmEmail" class="col-xs-2 col-form-label">Confirmar Email</label>
                <div class="col-xs-10">
                    <input type="email" class="form-control" id="inputConfirmEmail" placeholder="Confirmar" ng-model="ctrl.NewUserEmailConfirm">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-xs-2 col-form-label">Contraseña</label>
                <div class="col-xs-10">
                    <input type="password" class="form-control" id="inputPassword" name="Password" aria-describedby="passwordHelp" placeholder="Contraseña" ng-model="ctrl.NewUserPassword">
                    <small id="passwordHelp" class="form-text text-muted">Tiene que tener mínimo 8 caractéres, un número y una mayuscula incluidas al menos</small>
                </div>

            </div>
            <div class="form-group row">
                <label for="inputConfirmPassword" class="col-xs-2 col-form-label">Confirmar Contraseña</label>
                <div class="col-xs-10">
                    <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirmar" ng-model="ctrl.NewUserPasswordConfirm">
                </div>
            </div>
            <div class="form-group row" id="CreateUserRolesCheckboxes">
                <label class="col-xs-2 col-form-label">Roles</label>
                <div class="col-xs-10">
                    <div class="checkbox">
                        <label><input type="checkbox" name="NewRoles" value="AdminRole">Admin</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" name="NewRoles" value="CashierRole">Cajero</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    <button type="button" class="btn btn-default" ng-click='CleanForm()'>Cancelar</button>
                    <button type="submit" class="btn btn-primary">Crear</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>