<div class="well container" id="UpdateUserDiv" data-ng-init="GetAllUsers()">
    <form class="form-horizontal" ng-submit="UpdateUser()">
        <fieldset>
            <legend>Actualizar Usuario</legend>
            <div class="form-group container">
                <label for="updateUserSelect">Elija el usuario a actualizar:</label>
                <select class="form-control" id="updateUserSelect">
                    <option ng-repeat="user in ctrl.users" value="{{user.ID}}">{{user.ID}}.{{user.Name}} ({{user.Email}})</option>
                </select>
            </div>
            <h4>Datos a modificar</h4>
            <div class="form-group row">
                <label for="inputName" class="col-xs-2 col-form-label">Nombre</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="inputName" name="Name" placeholder="Nombre" ng-model="ctrl.UpdateUserName">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail" class="col-xs-2 col-form-label">Email</label>
                <div class="col-xs-10">
                    <input type="email" class="form-control" id="inputEmail" name="Email" placeholder="Email" ng-model="ctrl.UpdateUserEmail">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputConfirmEmail" class="col-xs-2 col-form-label">Confirmar Email</label>
                <div class="col-xs-10">
                    <input type="email" class="form-control" id="inputConfirmEmail" placeholder="Confirmar" ng-model="ctrl.UpdateUserEmailConfirm">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-xs-2 col-form-label">Contraseña</label>
                <div class="col-xs-10">
                    <input type="password" class="form-control" id="inputPassword" name="Password" aria-describedby="passwordHelp" placeholder="Contraseña" ng-model="ctrl.UpdateUserPassword">
                    <small id="passwordHelp" class="form-text text-muted">Tiene que tener mínimo 8 caractéres, un número y una mayuscula incluidas al menos</small>
                </div>

            </div>
            <div class="form-group row">
                <label for="inputConfirmPassword" class="col-xs-2 col-form-label">Confirmar Contraseña</label>
                <div class="col-xs-10">
                    <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirmar" ng-model="ctrl.UpdateUserPasswordConfirm">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-2 col-form-label">Roles</label>
                <div class="col-xs-10" id="UpdateUserRolesCheckboxes">
                    <div class="checkbox">
                        <label><input type="checkbox" name="UpdateRoles" value="AdminRole">Admin</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" name="UpdateRoles" value="CashierRole">Cajero</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    <button type="button" ng-click='CleanForm()' class="btn btn-default">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                    <small>Solo ingrese los datos que quiere modificar</small>
                </div>
            </div>
        </fieldset>
    </form>
</div>