<div class="well container" id="DeleteClientDiv" data-ng-init="GetAllClients()">
    <form class="form-horizontal" ng-submit="DeleteClient()">
        <fieldset>
            <legend>Eliminar Cliente</legend>
            <div class="form-group container">
                <label for="deleteClientSelect">Elija el cliente a eliminar:</label>
                <select class="form-control" id="deleteClientSelect">
                    <option ng-repeat="client in ctrl.clients" value="{{client.ID}}">{{client.ID}}.{{client.Name}} ({{client.IDCard}})</option>
                </select>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    <button type="button" ng-click='CleanForm()' class="btn btn-default">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Eliminar</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
