<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
        Proveedores
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li><a ng-href="#" ng-click='ShowListProviders()'>Listar</a></li>
        <li><a ng-href="#" ng-click='ShowCreateProviders()'>Registrar</a></li>
        <li><a ng-href="#" ng-click='ShowUpdateProviders()'>Modificar</a></li>
        <li><a ng-href="#" ng-click='ShowDeleteProviders()'>Eliminar</a></li>
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
        Pagos
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li><a ng-href="#" ng-click='ShowListPayments()'>Listar</a></li>
        <li><a ng-href="#" ng-click='ShowCreatePayment()'>Registrar</a></li>
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
        Reportes
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li><a ng-href="#" ng-click='ShowEarningsPerProvider()'>Por Proveedor</a></li>
        <li><a ng-href="#" ng-click='ShowTotalEarnings()'>Total</a></li>
    </ul>
</li>
</ul>