USE [master]
GO
/****** Object:  Database [TodoPagosTest]    Script Date: 10/19/2016 10:37:44 AM ******/
CREATE DATABASE [TodoPagosTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TodoPagosTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TodoPagosTest.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TodoPagosTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TodoPagosTest_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TodoPagosTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TodoPagosTest]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/19/2016 10:37:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IFields]    Script Date: 10/19/2016 10:37:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IFields](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Data] [datetime] NULL,
	[Name] [nvarchar](max) NULL,
	[Empty] [bit] NULL,
	[Data1] [bigint] NULL,
	[Name1] [nvarchar](max) NULL,
	[Empty1] [bit] NULL,
	[Data2] [nvarchar](max) NULL,
	[Name2] [nvarchar](max) NULL,
	[Empty2] [bit] NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
	[Receipt_ID] [int] NULL,
	[Provider_ID] [int] NULL,
 CONSTRAINT [PK_dbo.IFields] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Payments]    Script Date: 10/19/2016 10:37:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PaidWith] [float] NOT NULL,
	[Change] [float] NOT NULL,
	[PaymentMethod_ID] [int] NULL,
 CONSTRAINT [PK_dbo.Payments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PayMethods]    Script Date: 10/19/2016 10:37:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayMethods](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PayDate] [datetime] NOT NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.PayMethods] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Privileges]    Script Date: 10/19/2016 10:37:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Privileges](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.Privileges] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Providers]    Script Date: 10/19/2016 10:37:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Providers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Commission] [float] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Providers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Receipts]    Script Date: 10/19/2016 10:37:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receipts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [float] NOT NULL,
	[ReceiptProvider_ID] [int] NULL,
	[Payment_ID] [int] NULL,
 CONSTRAINT [PK_dbo.Receipts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RolePrivileges]    Script Date: 10/19/2016 10:37:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePrivileges](
	[Role_ID] [int] NOT NULL,
	[Privilege_ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.RolePrivileges] PRIMARY KEY CLUSTERED 
(
	[Role_ID] ASC,
	[Privilege_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10/19/2016 10:37:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 10/19/2016 10:37:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[User_ID] [int] NOT NULL,
	[Role_ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserRoles] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC,
	[Role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/19/2016 10:37:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Salt] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[IFields] ON 

INSERT [dbo].[IFields] ([ID], [Data], [Name], [Empty], [Data1], [Name1], [Empty1], [Data2], [Name2], [Empty2], [Discriminator], [Receipt_ID], [Provider_ID]) VALUES (1, NULL, NULL, NULL, 0, N'Cedula', 1, NULL, NULL, NULL, N'NumberField', NULL, 1)
INSERT [dbo].[IFields] ([ID], [Data], [Name], [Empty], [Data1], [Name1], [Empty1], [Data2], [Name2], [Empty2], [Discriminator], [Receipt_ID], [Provider_ID]) VALUES (2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'Nombre', 1, N'TextField', NULL, 2)
INSERT [dbo].[IFields] ([ID], [Data], [Name], [Empty], [Data1], [Name1], [Empty1], [Data2], [Name2], [Empty2], [Discriminator], [Receipt_ID], [Provider_ID]) VALUES (3, NULL, NULL, NULL, 123456, N'Cedula', 0, NULL, NULL, NULL, N'NumberField', 1, NULL)
SET IDENTITY_INSERT [dbo].[IFields] OFF
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([ID], [PaidWith], [Change], [PaymentMethod_ID]) VALUES (1, 1000, 0, 1)
INSERT [dbo].[Payments] ([ID], [PaidWith], [Change], [PaymentMethod_ID]) VALUES (2, 4020, 20, 2)
SET IDENTITY_INSERT [dbo].[Payments] OFF
SET IDENTITY_INSERT [dbo].[PayMethods] ON 

INSERT [dbo].[PayMethods] ([ID], [PayDate], [Discriminator]) VALUES (1, CAST(N'2016-10-19 00:00:00.000' AS DateTime), N'DebitPayMethod')
INSERT [dbo].[PayMethods] ([ID], [PayDate], [Discriminator]) VALUES (2, CAST(N'2016-10-18 00:00:00.000' AS DateTime), N'CashPayMethod')
SET IDENTITY_INSERT [dbo].[PayMethods] OFF
SET IDENTITY_INSERT [dbo].[Privileges] ON 

INSERT [dbo].[Privileges] ([ID], [Name], [Discriminator]) VALUES (1, N'User Managment', N'UserManagementPrivilege')
INSERT [dbo].[Privileges] ([ID], [Name], [Discriminator]) VALUES (2, N'Register Provider', N'ProviderManagementPrivilege')
INSERT [dbo].[Privileges] ([ID], [Name], [Discriminator]) VALUES (3, N'Earning Queries', N'EarningQueriesPrivilege')
SET IDENTITY_INSERT [dbo].[Privileges] OFF
SET IDENTITY_INSERT [dbo].[Providers] ON 

INSERT [dbo].[Providers] ([ID], [Commission], [Name], [Active]) VALUES (1, 10, N'EARNING QUERIES TEST PROVIDER 1', 1)
INSERT [dbo].[Providers] ([ID], [Commission], [Name], [Active]) VALUES (2, 5, N'EARNING QUERIES TEST PROVIDER 2', 1)
SET IDENTITY_INSERT [dbo].[Providers] OFF
SET IDENTITY_INSERT [dbo].[Receipts] ON 

INSERT [dbo].[Receipts] ([ID], [Amount], [ReceiptProvider_ID], [Payment_ID]) VALUES (1, 1000, 1, 1)
INSERT [dbo].[Receipts] ([ID], [Amount], [ReceiptProvider_ID], [Payment_ID]) VALUES (2, 4000, 2, 2)
SET IDENTITY_INSERT [dbo].[Receipts] OFF
INSERT [dbo].[RolePrivileges] ([Role_ID], [Privilege_ID]) VALUES (1, 1)
INSERT [dbo].[RolePrivileges] ([Role_ID], [Privilege_ID]) VALUES (1, 2)
INSERT [dbo].[RolePrivileges] ([Role_ID], [Privilege_ID]) VALUES (1, 3)
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([ID], [Name], [Discriminator]) VALUES (1, N'Admin', N'AdminRole')
SET IDENTITY_INSERT [dbo].[Roles] OFF
INSERT [dbo].[UserRoles] ([User_ID], [Role_ID]) VALUES (1, 1)
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [Name], [Email], [Password], [Salt]) VALUES (1, N'Brulu', N'diego@bruno.com', N'गﻌ졿㒶茯姠胄ꛊ搵멍ﵑ⿛㱪뱤쓲蠸뵋맣島㈽쨸Ԧ瀳퓍㘤಄�决㗆륬ഛ␘䆬井圛�苬ꢖᓝꊻ뮄냱慡톩쉩', N'गﻌ졿㒶茯姠胄ꛊ搵멍ﵑ⿛㱪뱤쓲蠸뵋맣島㈽쨸Ԧ瀳퓍㘤಄�决㗆륬')
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_Provider_ID]    Script Date: 10/19/2016 10:37:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_Provider_ID] ON [dbo].[IFields]
(
	[Provider_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Receipt_ID]    Script Date: 10/19/2016 10:37:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_Receipt_ID] ON [dbo].[IFields]
(
	[Receipt_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PaymentMethod_ID]    Script Date: 10/19/2016 10:37:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_PaymentMethod_ID] ON [dbo].[Payments]
(
	[PaymentMethod_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payment_ID]    Script Date: 10/19/2016 10:37:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_Payment_ID] ON [dbo].[Receipts]
(
	[Payment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReceiptProvider_ID]    Script Date: 10/19/2016 10:37:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_ReceiptProvider_ID] ON [dbo].[Receipts]
(
	[ReceiptProvider_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Privilege_ID]    Script Date: 10/19/2016 10:37:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_Privilege_ID] ON [dbo].[RolePrivileges]
(
	[Privilege_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Role_ID]    Script Date: 10/19/2016 10:37:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_Role_ID] ON [dbo].[RolePrivileges]
(
	[Role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Role_ID]    Script Date: 10/19/2016 10:37:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_Role_ID] ON [dbo].[UserRoles]
(
	[Role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_ID]    Script Date: 10/19/2016 10:37:44 AM ******/
CREATE NONCLUSTERED INDEX [IX_User_ID] ON [dbo].[UserRoles]
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IFields]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IFields_dbo.Providers_Provider_ID] FOREIGN KEY([Provider_ID])
REFERENCES [dbo].[Providers] ([ID])
GO
ALTER TABLE [dbo].[IFields] CHECK CONSTRAINT [FK_dbo.IFields_dbo.Providers_Provider_ID]
GO
ALTER TABLE [dbo].[IFields]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IFields_dbo.Receipts_Receipt_ID] FOREIGN KEY([Receipt_ID])
REFERENCES [dbo].[Receipts] ([ID])
GO
ALTER TABLE [dbo].[IFields] CHECK CONSTRAINT [FK_dbo.IFields_dbo.Receipts_Receipt_ID]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Payments_dbo.PayMethods_PaymentMethod_ID] FOREIGN KEY([PaymentMethod_ID])
REFERENCES [dbo].[PayMethods] ([ID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_dbo.Payments_dbo.PayMethods_PaymentMethod_ID]
GO
ALTER TABLE [dbo].[Receipts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Receipts_dbo.Payments_Payment_ID] FOREIGN KEY([Payment_ID])
REFERENCES [dbo].[Payments] ([ID])
GO
ALTER TABLE [dbo].[Receipts] CHECK CONSTRAINT [FK_dbo.Receipts_dbo.Payments_Payment_ID]
GO
ALTER TABLE [dbo].[Receipts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Receipts_dbo.Providers_ReceiptProvider_ID] FOREIGN KEY([ReceiptProvider_ID])
REFERENCES [dbo].[Providers] ([ID])
GO
ALTER TABLE [dbo].[Receipts] CHECK CONSTRAINT [FK_dbo.Receipts_dbo.Providers_ReceiptProvider_ID]
GO
ALTER TABLE [dbo].[RolePrivileges]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RolePrivileges_dbo.Privileges_Privilege_ID] FOREIGN KEY([Privilege_ID])
REFERENCES [dbo].[Privileges] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePrivileges] CHECK CONSTRAINT [FK_dbo.RolePrivileges_dbo.Privileges_Privilege_ID]
GO
ALTER TABLE [dbo].[RolePrivileges]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RolePrivileges_dbo.Roles_Role_ID] FOREIGN KEY([Role_ID])
REFERENCES [dbo].[Roles] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePrivileges] CHECK CONSTRAINT [FK_dbo.RolePrivileges_dbo.Roles_Role_ID]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRoles_dbo.Roles_Role_ID] FOREIGN KEY([Role_ID])
REFERENCES [dbo].[Roles] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_dbo.UserRoles_dbo.Roles_Role_ID]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRoles_dbo.Users_User_ID] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_dbo.UserRoles_dbo.Users_User_ID]
GO
USE [master]
GO
