<div class="well container" id="UpdateClientDiv" data-ng-init="GetAllClients()">
    <form class="form-horizontal" ng-submit="UpdateClient()">
        <fieldset>
            <legend>Actualizar Cliente</legend>
            <div class="form-group container">
                <label for="updateClientSelect">Elija el cliente a actualizar:</label>
                <select class="form-control" id="updateClientSelect">
                    <option ng-repeat="client in ctrl.clients" value="{{client.ID}}">{{client.ID}}.{{client.Name}} ({{client.IDCard}})</option>
                </select>
            </div>
            <h4>Datos a modificar</h4>
            <div class="form-group row">
                <label for="inputName" class="col-xs-2 col-form-label">Nombre</label>
                <div class="col-xs-10">
                    <input ng-model="ctrl.nameupdateclient" type="text" class="form-control" id="inputName" name="Name" placeholder="Nombre">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputIDCard" class="col-xs-2 col-form-label">Cédula</label>
                <div class="col-xs-10">
                    <input ng-model="ctrl.idcardupdateclient" type="text" class="form-control" id="inputIDCard" name="IDCard" placeholder="XXXXXXX" aria-describedby="idCardHelp">
                    <small id="idCardHelp" class="form-text text-muted">Ingrese todos los dígitos de su cédula sin puntos ni guiones</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputConfirmIDCard" class="col-xs-2 col-form-label">Confirmar Cédula</label>
                <div class="col-xs-10">
                    <input ng-model="ctrl.idcardconfirmupdateclient" type="text" class="form-control" id="inputConfirmIDCard" placeholder="Confirmar">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPhone" class="col-xs-2 col-form-label">Teléfono</label>
                <div class="col-xs-10">
                    <input ng-model="ctrl.phoneupdateclient" type="text" class="form-control" id="inputPhone" name="Phone" placeholder="XXXXXXXX">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputAddress" class="col-xs-2 col-form-label">Dirección</label>
                <div class="col-xs-10">
                    <input ng-model="ctrl.addressupdateclient" type="text" class="form-control" id="inputAddress" name="Address" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    <button type="button" ng-click='CleanForm()' class="btn btn-default">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                    <small>Solo ingrese los datos que quiere modificar</small>
                </div>
            </div>
        </fieldset>
    </form>
</div>