<div class="well container" id="CreateProviderDiv">
    <form class="form-horizontal" ng-submit="CreateProvider()">
        <fieldset>
            <legend>Crear Proveedor</legend>
            <div class="form-group row">
                <label for="inputName" class="col-xs-2 col-form-label">Nombre</label>
                <div class="col-xs-10">
                    <input required ng-model="ctrl.NewProviderName" type="text" class="form-control" id="inputName" name="Name" placeholder="Nombre">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputCommission" class="col-xs-2 col-form-label">Comisión (en porcentaje)</label>
                <div class="col-xs-10">
                    <input required ng-model="ctrl.NewProviderComission" type="number" class="form-control" id="inputCommission" min="0" max="100" name="Commission" placeholder="Comisión">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputNumberOfFields" class="col-xs-2 col-form-label">Campos del proveedor</label>
                <div class="col-xs-10">
                    <input type="number" ng-model="ctrl.NewFieldsNumber" class="form-control" id="inputNumberOfFields" min="0">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-2 col-form-label">Campos</label>
                <div class="col-xs-10" ng-repeat="i in GetTargetLengthArray(ctrl.NewFieldsNumber)">
                    <h4>Campo {{i+1}}:</h4>
                    Tipo:
                    <select id="NewProviderFieldType{{i}}">
                        <option value="DateField">Fecha</option>
                        <option value="NumberField">Numérico</option>
                        <option value="TextField">Texto</option>
                    </select>
                    Nombre:
                    <input required ng-model="ctrl.NewFieldName[i]" type="text" class="form-control" id="inputFieldName" name="Nombre" placeholder="Nombre">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    <button type="button" ng-click='CleanForm()' class="btn btn-default">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Crear</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
