<div class="well container" id="ListProviderDiv" data-ng-init="GetAllProviders()">
    <h3>Proveedores en el sistema:</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Comisión</th>
                <th>Activo</th>
                <th>Campos</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="prov in ctrl.allProviders">
                <td>{{prov.ID}}</td>
                <td>{{prov.Name}}</td>
                <td>{{prov.Commission}}%</td>
                <td>{{ctrl.PrintYesOrNoAcoordingToBool(prov.Active)}}</td>
                <td><button type="button" ng-click="DisplayProviderFieldsOnDialog(prov)">Ver Campos</button></td>
            </tr>
        </tbody>
    </table>
    <div class="modal fade" id="ProviderFieldsModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="ProviderFieldsModalTitle">Modal Header</h4>
                </div>
                <div class="modal-body" id="ProviderFieldsModalText">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                </div>
            </div>

        </div>
    </div>
</div>